@include("@Painel/Views/header")
<div class="" style="min-height:500px">
<table class="np-table-all np-bordered np-border-0">
  <thead>
    <tr>
      <th><i class="material-icons" style="font-size:21px">list</i>#name#</th>
      <th><i class="material-icons" style="font-size:21px">pie_chart</i>#type#</th>
      <th colspan="1"><i class="material-icons np-spin" style="font-size:21px">settings</i>#role#</th> 
	  <th> <a href="{{url('users/create')}}" class="np-small np-card np-padding-small np-round np-border np-border-green np-hover-green np-button">#add#</a> </th>
    </tr>
  </thead>
  <tbody>
  
   @if($list->results)
      @in($list->results)
     <tr class="np-item-{{$id}} np-animate-left">
      <td>
	     {{$name}}
	  </td>
      <td>
	    {{text(':'.$type)}}
	  </td>
      <td>
	     {{text(':'.$role)}}<br>
		 <span class="small text-secondary">{{format($created_in,'datetime')}}</span>
		 </td>
	  <td>
        <span class="np-btn np-small btn-chart-view" id="{{$id}}">Visualizar</span>
	  </td>
    </tr>
	

	    @endin
		
		  <tr>
			   <td colspan="4">
			     <div class="np-right">{!$list->links!}</div>
			   </td>
		 </tr>
		
		
		 @else
            <tr><td colspan="4"><h4 class="text-danger np-animate-right">#user.not.show#</h4></td></tr>
	 @endif
	
  </tbody>
</table>

</div>

<div class="np-modal" id="modal-chart-view">
    <div class="np-modal-content np-animate-zoom" style="max-width:800px;min-height:200px">
	 <span onclick="document.getElementById('modal-chart-view').style.display='none'"
      class="np-button np-display-topright">&times;</span>
      <div class="chart-view"></div>
    </div>
</div>

<script>
$(function(){
  var btn = $(".btn-chart-view");
  
  btn.click(function(){
    var id = $(this).attr("id");
	$("#modal-chart-view").show();
	$(".chart-view").load("{{url('chart')}}/"+id+"");
	
	
	
  });
  
});
</script>

@include("@Painel/Views/footer")