@include("@Painel/Views/header")
{!form_open(':user.create','users')!}
{{csrf_field()}}
<div class="col m6 s12">
{!form_input(['type'=>'email','label'=>':email','name'=>'email'],true)!}
</div>
<div class="col m6 s12">
{!form_input(['type'=>'text','label'=>':full.name','name'=>'name'],true)!}
</div>

<div class="col m4 s12">
{!form_input(['type'=>'password','label'=>':password','name'=>'password'],true)!}
</div>

<div class="col m4 s12">
{!form_input(['type'=>'select','label'=>':role','name'=>'role','options'=>$roleOptions],true)!}
</div>

<div class="col m4 s12">
{!form_input(['type'=>'select','label'=>':lang','name'=>'lang','options'=>$langOptions],true)!}
</div>

{!form_close()!}
@include("@Painel/Views/footer")