@include("@Painel/Views/header")


@if($find->id == user_id())

<!-- Modal Structure -->
  <div id="modal1" class="modal show">
    <div class="modal-content">
      <h4> <i class="material-icons">screen_lock_landscape</i>Ops!</h4>
      <p>Desculpe, mas por questão de segurança você não pode editar a si mesmo por esta tela.</p>
    </div>
    <div class="modal-footer">
	   <a onclick="window.history.go(-1);" class="btn">Voltar</a>
      <a href="{{url('profile')}}" class="modal-action modal-close waves-effect waves-green btn-flat">Editar meu perfil</a>
    </div>
  </div>




@endif

{!form_open(':user.edit','users','put')!}

<input type="hidden" name="id" value="{{$find->id}}">
{{csrf_field()}}
       
     <div class="col m6 s12">
	  
      <label>#email#</label>
      <input required name="email" value="{{$find->email}}" type="email" class="np-cell  np-input" placeholder="#email#">
    </div>
	
	
    <div class="col m6 s12">
      <label>#full.name#</label>
      <input required name="name" value="{{$find->name}}" type="text" class="np-input" placeholder="#full.name#">
    </div>
    <div class="col m6 s12">
	  <label>#situation#</label>
      <select name="status" class="np-input">
	     {!$statusOptions!}
	   </select>
    </div>
  
   <div class="col m6 s12">
	  <label>#lang#</label>
      <select name="lang" class="np-input">
	     {!$langOptions!}
	   </select>
     </div>
  
    <div class="col m6 s12">
	  <label>#role#</label>
      <select name="role" class="np-input">
	     {!$roleOptions!}
	  </select>
       </div>
	   
	 <div class="col m6 s12">
	  <label>#sector#</label>
	  <select name="sector">
	     {!options($sectorOptions,$find->sector)!}
	  </select>
     </div>

{!form_close()!}

@include("@Painel/Views/footer")