@painel_header()

<div class="col s12">
<table class="responsive-table">
   {!painel_table(['id|!ID','name','email','status'],$list,
   ['edit'=>false,
   'view'=>true,
   'delete'=>true],
   ['status'=>function($data){
      
	  switch($data['status'])
	  {
	    case 'active' : return '<span class="green-text chip green lighten-5">'.lang('active').'</span>'; break;
	    case 'pending' : return '<span class="orange-text chip yellow lighten-5">'.lang('pending').'</span>'; break;
		default : return '<span class="red-text chip red lighten-5">'.lang($data['status']).'</span>'; 
	  }
	  
   }])!}
</table>
</div>
{!paginate($list)!}

@painel_footer()