@include("@Painel/Views/header")

@include("@CRM/Views/header")

<form>
  
  <div class="row w3-margin">
  <h4 class="col"><i class="icon">add</i>#add# Lead</h4>
  
  <div class="btn-group" role="group">
       <button type="button" class="btn btn-outline-danger">#cancel#</button>
       <button type="button" class="btn btn-outline-success">#save#</button>
  </div>
  
  </div>
  
  <div class="row">
    <div class="col">
	  <label><i class="icon">face</i>Proprietário do Lead</label>
      <input type="text" class="form-control">
    </div>
    <div class="col">
	  <label><i class="icon">star</i>Saudação</label>
      <input type="text" class="form-control">
    </div>
  </div>
  
   <div class="row">
    <div class="col">
	  <label><i class="icon">label</i>Nome*</label>
      <input type="text" class="form-control">
    </div>
    <div class="col">
	  <label><i class="icon">label</i>Sobrenome*</label>
      <input type="text" class="form-control">
    </div>
  </div>
  
  
   <div class="row">
    <div class="col">
	  <label><i class="icon">business</i>Empresa*</label>
      <input type="text" class="form-control">
    </div>
    <div class="col">
	  <label><i class="icon">list</i>Fonte do Lead</label>
     <select class="custom-select">
      <option>Whatsapp</option>
	  <option>Facebook</option>
    </select>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
	  <label><i class="icon">list_alt</i>Setor</label>
      <input type="text" class="form-control">
    </div>
    <div class="col">
	  <label><i class="icon">money</i>Receita Anual</label>
      <input type="text" class="form-control">
    </div>
  </div>
  
  <div class="row">
    <div class="col">
	  <label><i class="icon">phone</i>Telefone</label>
      <input type="text" class="form-control">
    </div>
    <div class="col">
	  <label><i class="icon">phone</i>Celular</label>
      <input type="text" class="form-control">
    </div>
  </div>
  
  <div class="row">
    <div class="col">
	  <label><i class="icon">email</i>E-mail</label>
      <input type="text" class="form-control">
    </div>
    <div class="col">
	  <label><i class="icon">email</i>E-mail Secundário</label>
      <input type="text" class="form-control">
    </div>
  </div>
  
  
  <div class="row">
    <div class="col">
	  <label><i class="icon">public</i>Site da web</label>
      <input type="text" class="form-control">
    </div>
    <div class="col">
	  <label><i class="icon">info</i>Status do Lead</label>
      <select class="custom-select">
      <option>Lead gerado</option>
	  <option>Em contato</option>
	  <option>Material enviado</option>
	  <option>Reunião agendada</option>
	  <option>Negócio perdido</option>
    </select>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
	  <label><i class="icon">description</i>Descrição</label>
      <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>
  
</form><br><br>

@include("@Painel/Views/footer")