@painel_header()
{!painel_header('Chave de API|vpn_key')!}

<div class="np-row np-padding">
<div class="np-padding-small np-col m6">
<div class="np-card np-white np-round np-animate-zoom np-padding">
          <form id="np-form-key">
		  {{csrf_field()}}
          <label for="inputEmailpass">Chave da aplicação</label>
          <input type="text" class="np-input np-border np-border-indigo " value="{{NP_KEY_API}}" name="key">
		  
		  <span class="np-margin-top np-btn-modal np-button np-small np-blue np-hover-indigo" >Gerar nova chave de API</span>
      
		<div class="np-modal" id="np-modal-key">
		   <div class="np-modal-content np-padding np-round" style="max-width:400px">
		      <p><b>Atenção:</b> ao gerar uma nova chave de API para sua aplicação, os serviços e sessões ativos atualmente não conseguiram mais ter acesso à sua aplicação, pois será necessário trocar as chaves nas aplicações de terceiros que acessam o seu sistema via API ou iniciar novas sessões no caso de acessos via JWT entre outros.</p>
			  <input type="submit" class="np-button np-small np-indigo np-hover-blue" value="Confirmar"/>
		      <span class="np-btn-modal np-button np-small np-red np-hover-blue" >Cancelar</span>
		   </div>
		   
		   
		</div>
		
		
		</form>
		
		
		
		
</div>
</div>
<div class="np-padding-small np-col m6">
<div class="np-card np-white np-round np-animate-zoom np-padding">
	      <p>As chaves API geralmente não são consideradas seguras. Normalmente, elas são acessíveis aos clientes, facilitando o roubo de uma delas. Se a chave for roubada, ela não tem expiração, assim pode ser usada indefinidamente, a menos que o dono do projeto a revogue ou gere a chave novamente. Ainda que as restrições que você pode definir em uma chave de API atenuem isso, há abordagens melhores para a autorização.</p>
</div>
</div>
</div>


<script>
$(function(){

  $(".np-btn-modal").click(function(){
     $("#np-modal-key").toggle();
  });
  
   var form = $("#np-form-key");
   form.submit(function(){
    var key = $("input[name=key]");
    $.ajax({
	url:"{{url('settings/key-api')}}",
	data:$(this).serialize(),
	type:"post",
    beforeSend:function(){
	  $(".np-progress").show();
	},
	success:function(data){
	   $("#np-modal-key").hide();
	   alert('A nova chave de API foi gerada com sucesso.');
	   key.val(data);
	   $(".np-progress").hide();
	}
	});
    return false;
   });
   
});
</script>

@include("@Painel/Views/footer")