@painel_header()

{!form_open('Adicionar Contato','teste')!}
  {{csrf_field()}}
  <div class="np-row">
    
	
	<div class="np-col m2 np-padding-small">
	   <label><i class="icon">list</i>Tratamento</label>
      <select name="address_complement" class="np-input">
	     <option>Nenhum</option>
		 <option>Sr</option>
		 <option>Sra</option>
		 <option>Dr</option>
		 <option>Prof</option>
	  </select>
    </div>
	
	<div class="np-col m5 np-padding-small">
	   <label><i class="icon">list</i>Primeiro Nome</label>
      <input name="address_complement" type="text" class="np-input np-border-red">
    </div>
	
	<div class="np-col m5 np-padding-small">
	   <label><i class="icon">list</i>Sobrenome</label>
      <input name="address_complement" type="text" class="np-input np-input np-border-red">
    </div>
	
	<div class="np-col m5 np-padding-small">
	   <label><i class="icon">list</i>Cargo</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	<div class="np-col m7 np-padding-small">
	   <label><i class="icon">email</i>E-mail</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	<div class="np-col m5 np-padding-small">
	   <label><i class="icon">phone</i>Telefone</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	<div class="np-col m5 np-padding-small">
	   <label><i class="icon">phone</i>Celular</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	<div class="np-col m2 np-padding-small">
	   <label><i class="icon">link</i>Estado</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	   <label><i class="icon">link</i>ID do Skype</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	   <label><i class="icon">link</i>LinkedIn</label>
      <input name="address_complement" type="text" class="np-input">
    </div>

	 <div class="np-col m6 np-padding-small">
          {!form_search(['url'=>'users/search','label'=>'Empresa'])!}
     </div>
	
   </div>
  
{!form_close()!}

@painel_footer()