@include("@Painel/Views/header")
<div class="">

<table class="np-table-all np-striped np-hoverable">
   <thead class="">
    <tr>
      <th>Nome do Contato</th>
      <th>Telefone</th>
	  <th>Celular</th>
      <th>E-mail</th>
	  <th>Cargo</th>
    </tr>
	</thead>
	</tbody>
	<tr>
      <th><a class="np-link np-text-blue np-hover-text-green" href="{{url('crm/proposals/10')}}">Paulo Leonardo </a></th>
      <th>(21) 98922-5557</th>
      <th>(21) 98988-0057</th>
	  <th>fb@gmail.com</th>
	  <th>Supervisor Executivo</th>
    </tr>
	
	<tr>
      <th><a class="np-link np-text-blue np-hover-text-green" href="{{url('crm/proposals/10')}}">Fabiana Barbosa Tavares </a></th>
      <th>(21) 98922-5557</th>
      <th>(21) 98988-0057</th>
	  <th>fb@gmail.com</th>
	  <th>Supervisor Executivo</th>
    </tr>
	</tbody>
  </table>
</div>
@include("@Painel/Views/footer")