@painel_header()

{!painel_header('[1129] [Proposta] [GRUPO A.R.G] - Mensal|receipt_long','crm/contacts/create',[
'email'=>'Enviar e-mail',
'c'=>'Exportar para PDF',
'pdfxs'=>'Compartilhar'
])!}
<div class="np-padding np-round">

<div class="np-card-2 np-col m12 np-padding np-margin-top np-animate-left np-white np-round-large">
    <p>Estado atual: <span class="np-padding-small np-green">Enviada</span>
	<br><br>Transições
	<a href="#" class="np-btn np-round np-hover-green np-small np-border np-border-green">Aceita pelo cliente</a>
    <a href="#" class="np-btn np-round np-hover-red np-small np-border np-border-red">Negada pelo cliente</a>
	</p>

</div>

<div class="np-card-2 np-col m12 np-padding np-margin-top np-animate-right np-white np-round-large">
    <h4><i class="material-icons">info</i>DADOS DA PROPOSTA</h4>
    <p>Cargo: supervisor<br>
	ID do Skype : 68686969<br>
	LinkedIn  : ddgfgjky8787jj<br>
	Estado  : RJ<br>
	</p>
</div>


<div class="np-card-2 np-col m12 np-padding np-margin-top np-animate-left np-white np-round-large">
    <h4><i class="material-icons">shopping_cart</i>Produtos</h4>
    <table class="np-table-all">
	  <tr>
	     <td>Nome</td>
		 <td>Preço</td>
		 <td>Quantidade</td>
		 <td>Desconto</td>
		 <td>Total</td>
	  </tr>
	  <tr>
	     <td>
		 <a href="#" class="np-hover-text-blue"><i class="material-icons">edit</i></a>
		 <a href="#" class="np-hover-text-blue"><i class="material-icons">delete</i></a>
		 Oficial de manutenção civil - 5x2 - Mensal - MG</td>
		 <td>6.604,77</td>
		 <td>2</td>
		 <td>0,00</td>
		 <td>6.604,77</td>
	  </tr>
	 <tr>
	     <td>
		 <a href="#" class="np-hover-text-blue"><i class="material-icons">edit</i></a>
		 <a href="#" class="np-hover-text-blue"><i class="material-icons">delete</i></a>
		 Oficial de manutenção civil - 5x2 - Mensal - MG</td>
		 <td>6.604,77</td>
		 <td>2</td>
		 <td>0,00</td>
		 <td>6.604,77</td>
	  </tr>
	  <tr>
	     <td>
		 <a href="#" class="np-hover-text-blue"><i class="material-icons">edit</i></a>
		 <a href="#" class="np-hover-text-blue"><i class="material-icons">delete</i></a>
		 Oficial de manutenção civil - 5x2 - Mensal - MG</td>
		 <td>6.604,77</td>
		 <td>2</td>
		 <td>0,00</td>
		 <td>6.604,77</td>
	  </tr>
	</table>
    <br>
	<table class="np-table-all">
	  <tr>
	     <td>Sub-total</td>
		 <td>Desconto</td>
		 <td>Total Geral</td>
	  </tr>
	  <tr>
	     <td class="np-text-green">R$ 11.359,15</td>
		 <td class="np-text-red">R$ 0,00</td>
		 <td class="np-green"><b>R$ 11.359,15</b></td>
	  </tr>
	
	</table><br>
</div>

</div>

@painel_footer()




