@painel_header()

{!form_open('Adicionar Conta','teste')!}
  {{csrf_field()}}
  <div class="np-row">
    
	
	<div class="np-col m4 np-padding-small">
	   <label><i class="icon">list</i>Banco</label>
      <select name="address_complement" class="np-input">
	     <option>Fictícia</option>
		 <option>Itaú</option>
		 <option>Bradesco</option>
		 <option>Santander</option>
		 <option>Banco de Brasil</option>]
		 <option>Caixa</option>
	  </select>
    </div>
	
	<div class="np-col m8 np-padding-small">
	   <label><i class="icon">list</i>Nome da Conta/Nome do títular</label>
      <input name="address_complement" type="text" class="np-input np-border-red">
    </div>
	
	<div class="np-col m5 np-padding-small">
	   <label><i class="icon">list</i>CPF/CNPJ</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	<div class="np-col m3 np-padding-small">
	   <label><i class="icon">list</i>Agência</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	<div class="np-col m4 np-padding-small">
	   <label><i class="icon">list</i>Conta</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	<div class="np-col m10 np-padding-small">
	   <label><i class="icon">info</i>Breve resumo dessa conta</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	
	
	<div class="np-col m2 np-padding-small">
	   <label><i class="icon">list</i>Situação</label>
      <select name="address_complement" class="np-input">
	      <option>Ativa</option>
		  <option>Bloqueada</option>
		  <option>Desativada</option>
	  </select>
    </div>
	
	
   </div>
  
{!form_close()!}

@painel_footer()