<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url('crm')}}">CRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{url('crm/leads')}}"><i class="icon text-warning">category</i>Leads</a>
      </li>
	  
	  <li class="nav-item">
        <a class="nav-link" href="#"><i class="icon text-primary">phone</i>Contatos</a>
      </li>
	  
      <li class="nav-item">
		<a class="nav-link" href="{{url('crm/tenders')}}"><i class="icon text-info">content_paste</i>Propostas</a>
      </li>
	  
	  
	  <li class="nav-item">
		<a class="nav-link" href="{{url('crm/tenders')}}"><i class="icon text-success">request_quote</i>Contratos</a>
      </li>

	  <li class="nav-item">
		<a class="nav-link" href="{{url('crm/tenders')}}"><i class="icon text-primary">business</i>Empresa</a>
      </li>
	  
	  
	  <li class="nav-item">
		<a class="nav-link" href="{{url('crm/tenders')}}"><i class="icon text-success">shopping_cart</i>Produtos</a>
      </li>
	  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="icon text-danger">add_circle_outline</i> #add#
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		  <a class="dropdown-item" href="{{url('crm/leads/create')}}"><i class="icon">add_circle_outline</i>Lead</a>
		  <a class="dropdown-item" href="#"><i class="icon">add_circle_outline</i>Contato</a>
		  <a class="dropdown-item" href="#"><i class="icon">add_circle_outline</i>Proposta</a>
          <a class="dropdown-item" href="{{url('crm/accounts/create')}}"><i class="icon">add_circle_outline</i>Empresa</a>
          <a class="dropdown-item" href="{{url('crm/products/create')}}"><i class="icon">add_circle_outline</i>Produto</a>
        </div>
      </li>
    </ul>
  </div>
</nav>