@include("@Painel/Views/header")

<div class="np-padding">

<div class="np-col m8">
 <div class="np-margin np-card np-white np-padding">
   <h4>Títulos lançados</h4>
   <h3>Quantidade: 789</h3>
   <h3>Total: R$ 588.787,00</h3>
  
     <p>Entradas R$35.833,22
     <div class="np-round np-card">
         <div class="np-green np-round" style="height:15px;width:60%"></div>
     </div></p>
	 <p>Saídas R$556,00
	 <div class="np-round np-card">
         <div class="np-red np-round" style="height:15px;width:32%"></div>
     </div></p>
   
   
   
   <footer class="np-center">
       <a href="#" class="np-btn np-blue np-small">Visualizar</a>
   </footer>
     </div>
</div>



<div class="np-col m4">
 <div class="np-margin np-pale-red np-card np-padding">
   <h4>Títulos pendentes</h4>
   <h3>Quantidade: 38</h3>
   <h3>Total: R$ 3587,00</h3>
   <footer class="np-center">
       <a href="#" class="np-btn np-blue np-small">Visualizar</a>
	   <a href="#" class="np-btn np-red np-small">Aprovar todos</a>
   </footer>
     </div>
</div>


</div>


@include("@Painel/Views/footer")