@painel_header()
<script>
$(function(){  
   $('#inputCnpj').blur(function(){
     var msg = $('.local-msg');
     var cnpj = $('#inputCnpj').val(); 
	 
	 cnpj = cnpj.replace(/[\.\/\-]/g,'');
	 cnpj = cnpj.trim();
	 
	 var url = 'https://www.receitaws.com.br/v1/cnpj/'+cnpj; 
   
     $.ajax({
     url : url,
     dataType: "jsonp",
     beforeSend : function(){ $('.np-progress').show();  },
	 error:function(msgErro){
	      msg.html('<span class="np-animate-opacity np-text-red"><i class="icon">info</i>API está fora do ar.</span>');
		  $('.np-progress').hide();
	 },
	 success : function(data){
	          msg.html('');
			  if(data.status == 'OK'){
			  
	            $('#inputNome').val(data.nome);
				if(data.fantasia.length < 2){
				      $('input[name=name]').val(data.nome); 
				}else{
				    $('input[name=company_name]').val(data.fantasia); 
				}
                
				$('input[name=address_zip_code]').val(data.cep); 
				$('input[name=address_complement]').val(data.complemento);
				$('input[name=address_number]').val(data.numero);
				
				$('input[name=address_city]').val(data.municipio);
				$('input[name=address_state]').val(data.uf);
				$('input[name=address_neighborhood]').val(data.bairro);
				$('input[name=address_public_place]').val(data.logradouro);
			 
			 }else if(data.status == 'ERROR'){
				 msg.html('<span class="np-animate-opacity np-text-red"><i class="icon">info</i>'+data.message+'</span>');
			 
			 }else{
			    msg.html('<span class="np-animate-opacity np-text-red"><i class="icon">info</i>Erro desconhecido</span>');
			 }
			 $('.np-progress').hide();
     }});
   });
});
</script>

{!form_open('Adicionar Empresa','crm/accounts')!}
  {{csrf_field()}}
  <div class="np-row">
    <div class="crow">
  
  
  <div class="np-row">
  <fieldset><legend>Informações básicas</legend>
    <div class="np-col m6 np-padding-small">
	  <label><i class="icon">flag</i>CNPJ <span class="local-msg"></span></label>
      <input name="code" type="text" id="inputCnpj" class="np-input np-border-green">
    </div>
    <div class="np-col m6 np-padding-small">
	  <label><i class="icon">business</i>Nome</label>
      <input type="text" name="name" id="inputNome" class="np-input np-border-red" required>
    </div>
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">search</i>Fonte de prospecção</label>
     <select name="prospecting_source" class="np-input np-border-red">
         {!options($propspection)!}
    </select>
    </div>
	
    <div class="np-col m6 np-padding-small">
	  <label><i class="icon">business</i>Razão Social</label>
      <input type="text" name="company_name" id="inputFantasia" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list_alt</i>Segmento de mercado</label>
      <input name="company_segment" type="text" class="np-input np-border-red">
    </div>
	
    <div class="np-col m6 np-padding-small">
	  <label><i class="icon">link</i>LinkedIn da Empresa</label>
      <input type="text" name="company_linkedin" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">link</i>Site da empresa</label>
      <input type="text" name="company_website" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">phone</i>Telefone</label>
      <input name="company_phone" type="text" class="np-input">
    </div>
	</fieldset>
	 <fieldset><legend>Endereço</legend>
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">flag</i>CEP</label>
      <input name="address_zip_code" type="text" class="np-input">
    </div>
	
	<div class="np-col m3 np-padding-small">
	  <label><i class="icon">list</i>Número</label>
      <input name="address_number" type="text" class="np-input">
    </div>
	
	<div class="np-col m3 np-padding-small">
	  <label><i class="icon">list</i>Estado</label>
      <input name="address_state" type="text" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list</i>Logradouro</label>
      <input name="address_public_place" type="text" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list</i>Bairro</label>
      <input name="address_neighborhood" type="text" class="np-input">
    </div>

	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list</i>Cidade</label>
      <input name="address_city" type="text" class="np-input">
    </div>

	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list</i>Complemento</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
	</fieldset>
</div>
{!form_close()!}

@painel_footer()