@painel_header()

{!painel_header('Processo de negociações|business_center',false,[
'pdf'=>'Exportar como PDF',
'email'=>'Enviar e-mail para empresa',
'pdfx'=>'Enviar e-mail para todos os contatos dessa empresa'
])!}
<div>
<!--Lead gerado-->
<div class="np-col m6 np-padding-small np-animate-zoom">
  <div class="np-display-container np-card-2 np-leftbar np-border-gray np-padding np-animate-left np-white np-round-large">
     <h4><i class="material-icons">query_stats</i>Leads gerado <sub>10</sub></h4>
     <div class="np-round">
         <div class="np-gray np-round" style="height:15px;width:35%"></div>
     </div>
	 <a href="#" class="np-link np-display-topright np-padding-small np-animate-zoom np-hover-text-blue"><i class="material-icons">visibility</i></a>
   </div>
</div>

<!--Lead gerado-->
<div class="np-col m6 np-padding-small np-animate-zoom">
  <div class="np-display-container np-card-2 np-leftbar np-border-blue np-padding np-animate-left np-white np-round-large">
     <h4><i class="material-icons">perm_phone_msg</i>Em contato <sub>10</sub></h4>
     <div class="np-round">
         <div class="np-blue np-round" style="height:15px;width:35%"></div>
     </div>
	 <a href="#" class="np-link np-display-topright np-padding-small np-animate-zoom np-hover-text-blue"><i class="material-icons">visibility</i></a>
   </div>
</div>


<!--Lead gerado-->
<div class="np-col m6 np-padding-small np-animate-zoom">
  <div class="np-display-container np-card-2 np-leftbar np-border-orange np-padding np-animate-left np-white np-round-large">
     <h4><i class="material-icons">widgets</i>Proposta em Elaboração <sub>10</sub></h4>
     <div class="np-round">
         <div class="np-orange np-round" style="height:15px;width:35%"></div>
     </div>
	 <a href="#" class="np-link np-display-topright np-padding-small np-animate-zoom np-hover-text-blue"><i class="material-icons">visibility</i></a>
   </div>
</div>


<!--Lead gerado-->
<div class="np-col m6 np-padding-small np-animate-zoom">
  <div class="np-display-container np-card-2 np-leftbar np-border-indigo np-padding np-animate-left np-white np-round-large">
     <h4><i class="material-icons">send</i>Propostas Enviadas <sub>10</sub> <b class="np-text-indigo">R$37.000,22</b></h4>
     <div class="np-round">
         <div class="np-indigo np-round" style="height:15px;width:35%"></div>
     </div>
	 <a href="#" class="np-link np-display-topright np-padding-small np-animate-zoom np-hover-text-blue"><i class="material-icons">visibility</i></a>
   </div>
</div>


<!--Lead gerado-->
<div class="np-col m6 np-padding-small np-animate-zoom">
  <div class="np-display-container np-card-2 np-leftbar np-border-pink np-padding np-animate-left np-white np-round-large">
     <h4><i class="material-icons">date_range</i>Reunião agendada<sub>55</sub> <b class="np-text-pink">R$150.000,30</b></h4>
     <div class="np-round">
         <div class="np-pink np-round" style="height:15px;width:75%"></div>
     </div>
	 <a href="#" class="np-link np-display-topright np-padding-small np-animate-zoom np-hover-text-blue"><i class="material-icons">visibility</i></a>
   </div>
</div>


<!--Lead gerado-->
<div class="np-col m6 np-padding-small np-animate-zoom">
  <div class="np-display-container np-card-2 np-leftbar np-border-yellow np-padding np-animate-left np-white np-round-large">
     <h4><i class="material-icons">record_voice_over</i>Proposta em negociação <sub>55</sub> <b class="np-text-yellow">R$250.000,22</b></h4>
     <div class="np-round">
         <div class="np-yellow np-round" style="height:15px;width:75%"></div>
     </div>
	 <a href="#" class="np-link np-display-topright np-padding-small np-animate-zoom np-hover-text-blue"><i class="material-icons">visibility</i></a>
   </div>
</div>

<!--Lead gerado-->
<div class="np-col m6 np-padding-small np-animate-zoom">
  <div class="np-display-container np-card-2 np-leftbar np-border-green np-padding np-animate-left np-white np-round-large">
     <h4><i class="material-icons">thumbs_up_down</i>Negócio Fechado <sub>55</sub> <b class="np-text-green">R$100.000,30</b></h4>
     <div class="np-round">
         <div class="np-green np-round" style="height:15px;width:75%"></div>
     </div>
	 <a href="#" class="np-link np-display-topright np-padding-small np-animate-zoom np-hover-text-blue"><i class="material-icons">visibility</i></a>
   </div>
</div>

<!--Lead gerado-->
<div class="np-col m6 np-padding-small np-animate-zoom">
  <div class="np-display-container np-card-2 np-leftbar np-border-red np-padding np-animate-left np-white np-round-large">
     <h4><i class="material-icons">pan_tool</i>Negócio Perdido <sub>55</sub> <b class="np-text-red">R$100.000,30</b></h4>
     <div class="np-round">
         <div class="np-red np-round" style="height:15px;width:75%"></div>
     </div>
	 <a href="#" class="np-link np-display-topright np-padding-small np-animate-zoom np-hover-text-blue"><i class="material-icons">visibility</i></a>
   </div>
</div>




@include("@Painel/Views/footer")

</div>