@include("@Painel/Views/header")

<div class="np-padding">

<div class="np-col m3">
 <div class="np-margin np-card np-padding">
   <h4>Propostas</h4>
   <ul>
       <li>Total 30</li>
       <div class="np-light-grey">
          <div class="np-container np-blue" style="width:75%"></div>
      </div>
   </ul>
   <footer class="np-center">
   <a href="#" class="np-btn np-blue">Visualizar</a>
   </footer>
     </div>
</div>

<div class="np-col m3">
 <div class="np-margin np-card np-padding">
   <h4>Contratos</h4>
   <ul>
       <li>Total 30</li>
       <li>10 aprovadas</li>
	   <li>20 pendentes</li>
   </ul>
   <footer class="np-center">
   <a href="#" class="np-btn np-blue">Visualizar</a>
   </footer>
     </div>
</div>




</div>


@include("@Painel/Views/footer")