@include("@Painel/Views/header")
<div class="np-padding">

<div class="np-col m3 np-padding-small">
<div class="np-card-2 np-round np-white np-padding np-animate-left">
    <div class="np-circle np-center np-animate-zoom np-card np-green np-padding-small" style="margin:0 auto; width:90px;height:90px">
	<i class="material-icons" style="font-size:70px">align_vertical_top</i>
	</div>
	<h2 class="np-center">Entradas</h2>
	<h3 class="np-center np-text-green">R$25.255,55</h3>
</div>
</div>


<div class="np-col m3 np-padding-small">
<div class="np-card-2 np-round np-white np-padding np-animate-left">
    <div class="np-circle np-center np-animate-zoom np-card np-red np-padding-small" style="margin:0 auto; width:90px;height:90px">
	<i class="material-icons" style="font-size:70px">align_vertical_bottom</i>
	</div>
	<h2 class="np-center">Saídas</h2>
	<h3 class="np-center np-text-red">R$1.154,78</h3>
</div>
</div>




</div>
@include("@Painel/Views/footer")