@include("@Painel/Views/header")
<div class="">

<table class="np-table-all np-striped np-hoverable">
   <thead class="">
    <tr>
      <th>Empresas Nome</th>
      <th>Telefone</th>
	  <th>Cidade</th>
	  <th>UF</th>
	  <th>País</th>
    </tr>
	</thead>
	</tbody>
	<tr>
      <th><a class="np-link np-text-blue np-hover-text-green" href="{{url('crm/accounts/10')}}">Russel Serviços - RJ</a></th>
      <th>5455555</th>
      <th>Rio de Janeiro</th>
	  <th>RJ</th>
	  <th>Brasil</th>
    </tr>
	
	<tr>
      <th><a class="np-link np-text-blue np-hover-text-green" href="{{url('crm/accounts/10')}}">Russel Serviços - MG</a></th>
      <th>5455555</th>
      <th>Belo Horizonte</th>
	  <th>MG</th>
	  <th>Brasil</th>
    </tr>
	
	<tr>
      <th><a class="np-link np-text-blue np-hover-text-green" href="{{url('crm/accounts/10')}}">Russel Serviços - SP</a></th>
      <th>5455555</th>
      <th>São Paulo</th>
	  <th>SP</th>
	  <th>Brasil</th>
    </tr>
	
	</tbody>
  </table>
</div>
@include("@Painel/Views/footer")