@include("@Painel/Views/header")



<script>


$(function(){  

//17890253000180

   $('#inputCnpj').blur(function(){
  
   
     var msg = $('.local-msg');
     var cnpj = $('#inputCnpj').val(); 
	 
	 cnpj = cnpj.replace(/[\.\/\-]/g,'');
	 cnpj = cnpj.trim();
	 
	 var url = 'https://www.receitaws.com.br/v1/cnpj/'+cnpj; 
   
     $.ajax({
     url : url,
     dataType: "jsonp",
     beforeSend : function(){
          msg.html('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>');
     },
	 error:function(msgErro){
	      msg.html('<div class="alert alert-danger" role="alert">API está fora do ar.</div>');
	 },
	 success : function(data){
	          msg.html('');
			  if(data.status == 'OK'){
			  
	            $('#inputNome').val(data.nome);
				if(data.fantasia.length < 2){
				      $('#inputFantasia').val(data.nome); 
				}else{
				    $('#inputFantasia').val(data.fantasia); 
				}
               
			 
			 }else{
			    var msgErro = 'CNPJ inválido.';
				 msg.html('<div class="alert alert-warning" role="alert">'+msgErro+'</div>');
			 
			 }
			
     }});
   });
});
</script>

<form>
  
  <div class="row w3-margin">
  <h4 class="col"><i class="icon">add</i>#add# Empresa</h4>
  
  <div class="btn-group" role="group">
       <button type="button" class="np-btn np-red">#cancel#</button>
       <button type="button" class="np-btn np-green">#save#</button>
  </div>
  
  </div>
  <div class="np-row">
    <div class="crow">
  <div class="np-row">
    <div class="ccol local-msg"></div>
  </div>
  <div class="np-row">
    <div class="np-row">
    <div class="ccol">
	  <label><i class="icon">flag</i>CNPJ</label>
      <input type="text" id="inputCnpj" class="form-control">
    </div>
    <div class="np-row">
    <div class="ccol">
	  <label><i class="icon">business</i>Nome</label>
      <input type="text" id="inputNome" class="form-control">
    </div>
  </div>
  
   <div class="row">
    <div class="col">
	  <label><i class="icon">business</i>Razão Social</label>
      <input type="text" id="inputFantasia" class="form-control">
    </div>
    <div class="col">
	  <label><i class="icon">link</i>LinkedIn da Empresa</label>
      <input type="text" class="form-control">
    </div>
  </div>
  
  
   <div class="row">
    <div class="col">
	  <label><i class="icon">list_alt</i>Setor</label>
      <input type="text" class="form-control">
    </div>
    <div class="col">
	  <label><i class="icon">list</i>Fonte do Lead</label>
     <select class="custom-select">
      <option>Whatsapp</option>
	  <option>Facebook</option>
    </select>
    </div>
  </div>
  
</div>
  
</form><br><br>

@include("@Painel/Views/footer")