@painel_header()



<script>


$(function(){  

//17890253000180

   $('#inputCnpj').blur(function(){
  
   
     var msg = $('.local-msg');
     var cnpj = $('#inputCnpj').val(); 
	 
	 cnpj = cnpj.replace(/[\.\/\-]/g,'');
	 cnpj = cnpj.trim();
	 
	 var url = 'https://www.receitaws.com.br/v1/cnpj/'+cnpj; 
   
     $.ajax({
     url : url,
     dataType: "jsonp",
     beforeSend : function(){
          msg.html('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>');
     },
	 error:function(msgErro){
	      msg.html('<div class="np-panel np-pale-red np-leftbar np-border-red np-animate-left np-padding">API está fora do ar.</div>');
	 },
	 success : function(data){
	          msg.html('');
			  if(data.status == 'OK'){
			  
	            $('#inputNome').val(data.nome);
				if(data.fantasia.length < 2){
				      $('#inputFantasia').val(data.nome); 
				}else{
				    $('#inputFantasia').val(data.fantasia); 
				}
               
			 
			 }else{
			    var msgErro = 'CNPJ inválido.';
				 msg.html('<div class="np-panel np-pale-red np-leftbar np-border-red np-animate-left np-padding">'+msgErro+'</div>');
			 
			 }
			
     }});
   });
});
</script>

{!form_open('Adicionar Filial','teste')!}
  {{csrf_field()}}
  <div class="np-row">
    <div class="crow">
  <div class="np-row">
    <div class="np-col local-msg"></div>
  </div>
  <div class="np-row">
    <div class="np-col m6 np-padding-small">
	  <label><i class="icon">flag</i>CNPJ</label>
      <input name="code" type="text" id="inputCnpj" class="np-input np-border-green">
    </div>
    <div class="np-col m6 np-padding-small">
	  <label><i class="icon">business</i>Nome</label>
      <input type="text" name="name" id="inputNome" class="np-input np-border-red" required>
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">search</i>Fonte de prospecção</label>
     <select name="prospecting_source" class="np-input np-border-red">
      <option>Whatsapp</option>
	  <option>Facebook</option>
    </select>
    </div>
	
    <div class="np-col m6 np-padding-small">
	  <label><i class="icon">business</i>Razão Social</label>
      <input type="text" name="company_name" id="inputFantasia" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list_alt</i>Segmento de mercado</label>
      <input name="company_segment" type="text" class="np-input np-border-red">
    </div>
	
    <div class="np-col m6 np-padding-small">
	  <label><i class="icon">link</i>LinkedIn da Empresa</label>
      <input type="text" name="company_linkedin" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">link</i>Site da empresa</label>
      <input type="text" name="company_website" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">phone</i>Telefone</label>
      <input name="company_segment" type="text" class="np-input">
    </div>
	
	<h3 class="np-col m12"><i class="icon">map</i>Endereço</h3>
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">flag</i>CEP</label>
      <input name="address_zip_code" type="text" class="np-input">
    </div>
	
	<div class="np-col m3 np-padding-small">
	  <label><i class="icon">list</i>Número</label>
      <input name="address_number" type="text" class="np-input">
    </div>
	
	<div class="np-col m3 np-padding-small">
	  <label><i class="icon">list</i>Estado</label>
      <input name="address_state" type="text" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list</i>Logradouro</label>
      <input name="address_public_place" type="text" class="np-input">
    </div>
	
	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list</i>Bairro</label>
      <input name="address_neighborhood" type="text" class="np-input">
    </div>

	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list</i>Cidade</label>
      <input name="address_city" type="text" class="np-input">
    </div>

	<div class="np-col m6 np-padding-small">
	  <label><i class="icon">list</i>Complemento</label>
      <input name="address_complement" type="text" class="np-input">
    </div>
</div>
  
{!form_close()!}

@painel_footer()