@include("@Painel/Views/header")

@include("@CRM/Views/header")




<div class="w3-padding">

<div class="w3-col m3">
 <div class="w3-margin w3-card w3-padding">
   <h4>Propostas</h4>
   <ul>
       <li>Total 30</li>
       <li>10 aprovadas</li>
	   <li>20 pendentes</li>
   </ul>
   <footer class="w3-center">
   <a href="#" class="w3-btn w3-blue">Visualizar</a>
   </footer>
     </div>
</div>

<div class="w3-col m3">
 <div class="w3-margin w3-card w3-padding">
   <h4>Contratos</h4>
   <ul>
       <li>Total 30</li>
       <li>10 aprovadas</li>
	   <li>20 pendentes</li>
   </ul>
   <footer class="w3-center">
   <a href="#" class="w3-btn w3-blue">Visualizar</a>
   </footer>
     </div>
</div>




</div>


@include("@Painel/Views/footer")