@painel_header()

<div class="np-content np-padding">
   
   <div class="np-padding np-animate-top np-white np-card np-round np-border-left np-border-red">
     <h4><i class="material-icons np-text-red">block</i>Registro inacessível.</h4><hr>
	 <p>O registro pode ter sido excluído da base de dados ou você não tem permissão de acesso ou propriedade sobre o registro. Entre em contato com o seu administrador e informe o seguinte link:<b class="np-text-red">{{get_uri()}}</b></p>
   </div>
</div>


@if(auth())
   <h1>{{user_first()}}</h1>
@endif



@painel_footer()
