@painel_header()
<h4><i class="icon">apps</i>#applications#</h4>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img src="{{asset('img/np-logo-site.png')}}" style="width:100%">
        <a href="#" class="btn btn-outline-primary">#access#</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img src="{{asset('img/np-logo-chat.png')}}" style="width:100%">
        <a href="#" class="btn btn-outline-primary">#access#</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img src="{{asset('img/np-logo-crm.png')}}" style="width:100%">
        <a href="{{url('crm')}}" class="btn btn-outline-primary">#access#</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img src="{{asset('img/np-logo-auto.png')}}" style="width:100%">
        <a href="#" class="btn btn-outline-primary">#access#</a>
      </div>
    </div>
  </div>
  
</div>
@painel_footer()