<!-------Footer------->
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <!-- BEGIN: Footer-->

    <footer class="page-footer footer footer-static footer-dark indigo accent-2 navbar-border navbar-shadow">
        <div class="footer-copyright">
            <div class="container"><span>&copy; {{date('Y')}} <a href="#" target="_blank">{{NP_NAME}}</span></div>
        </div>
    </footer>

    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script src="{{asset()}}/app/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{{asset()}}/app/vendors/chartjs/chart.min.js"></script>
    <script src="{{asset()}}/app/vendors/chartist-js/chartist.min.js"></script>
    <script src="{{asset()}}/app/vendors/chartist-js/chartist-plugin-tooltip.js"></script>
    <script src="{{asset()}}/app/vendors/chartist-js/chartist-plugin-fill-donut.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="{{asset()}}/app/js/plugins.js"></script>
    <script src="{{asset()}}/app/js/search.js"></script>
    <script src="{{asset()}}/app/js/custom/custom-script.js"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{{asset()}}/app/js/scripts/dashboard-modern.js"></script>
    <script src="{{asset()}}/app/js/scripts/intro.js"></script>

    <script src="{{asset()}}/app/js/select2.min.js"></script>
    <!-- END PAGE LEVEL JS-->
</body>

</html>