<!doctype html>
<html lang="pt-br">
<title>#register#</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="np-ui.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{asset('np-ui/np-ui.css')}}">
<script src="{{asset('js/jquery.min.js')}}"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.material-icons {
  position:relative;
  top:5px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
</style>
<body class="np-light-grey">

     <form class="np-content np-white np-card np-round np-animate-top" id="login" style="max-width:600px;min-height:300px">
	 {{csrf_field()}}
	 <div class="np-progress np-white np-progress-form" style="display:none;height:5px;z-index:5;position:relative;top:0px">
         <div class="np-indeterminate np-green"></div>
     </div>
	   <div class="np-padding">
	    <a href="{{url()}}"><h3 class="np-center"><img style="position:relative;top:15px" class="mb-4 np-hover-opacity" src="{{asset('img/russel-logo-text-v2.png')}}" alt="" width="250" height="90"></h3></a>
		<h5 class="np-center">#register#</h5>
		<div class="local-msg">
	     @if($logout)
           <div class="np-panel np-pale-blue np-leftbar np-border-blue" role="alert">#session_closed_success#</div>
	     @endif
	   </div>
	    
		<div class="np-col m6 np-padding">
           <input class="np-input" name="name" placeholder="#name#" type="text" required>
		</div>
		<div class="np-col m6 np-padding">
          <input class="np-input" name="surname" placeholder="#surname#" type="text" required>
		</div>
		<div class="np-col m12 np-padding">
		 <label><i class="material-icons">email</i>#email#</label>
         <input class="np-input" name="email" placeholder="#email#" type="email" required>
        </div>
        <div class="np-col m6 np-padding">
           <input class="np-input" name="password1" placeholder="#password#" type="password" required>
		</div>
		<div class="np-col m6 np-padding">
           <input class="np-input" name="password2" placeholder="#confirm_password#" type="password" required>
		</div>
		
		<div class="np-col m12 np-padding">
		<input type="checkbox" name="accept_terms" value="on">
        <label for="conect-me">#i_accept_the_terms#</label><br>
		<input type="checkbox" name="email_marketing" value="on">
        <label for="conect-me">#allow_email_marketing#</label>
		<button class="np-btn np-border np-margin-top np-hover-green np-border-green np-round np-block">#register#</button>
		 </div>
		  
		  
		  
		   <div class="np-center">
			  <a href="{{url('login')}}" class="np-button np-text-green np-hover-white">#to_login_page#</a>
          </div>
		  </div>
    </form>   
<script>
$(function(){


   var msg = $(".local-msg");

   function login(){
   
   
    var password = $("input[name='password1']").val();
	var email = $("input[name='email']").val();
	var token = $("input[name='_token']").val();
     
	 
     $.ajax({
     url : "{{url('login')}}",
     type : 'post',
     data : {'email':email,'password':password,'_token':token},
     beforeSend : function(){
           $('.np-progress-form').show();
     },
	 success : function(data){
	      if(data == 'success'){
		     window.location.href = "{{url('dashboard')}}";
		  }else{ }
    }});
     }


  $("#login").submit(function(){
     var vars = $(this).serialize();
	 
     
     $.ajax({
     url : "{{url('register')}}",
     type : 'post',
     data : vars,
     beforeSend : function(){
           $('.np-progress-form').show();
     },
	 success : function(data){
	      if(data == 'success'){
		     login();
		  }else{
		    msg.html(data);
		  }
		  $('.np-progress-form').hide();
     }
    }); 
  
     return false;
  });

});
</script>
</body>
</html>