<!doctype html>
<html lang="pt-br">
<title>#register#</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="np-ui.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{asset('np-ui/np-ui.css')}}">
<script src="{{asset('js/jquery.min.js')}}"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.material-icons {
  position:relative;
  top:5px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
</style>
<body class="np-light-grey">

     <form class="np-content np-white np-card np-round np-animate-top" id="login" style="max-width:470px;min-height:300px">
	 {{csrf_field()}}
	 <div class="np-progress np-white np-progress-form" style="display:none;height:5px;z-index:5;position:relative;top:0px">
         <div class="np-indeterminate np-green"></div>
     </div>
	   <div class="np-padding">
	    <a href="index.html"><h3 class="np-center">{{NP_NAME}}</h3></a>
		<h5 class="np-center">#register#</h5>
		<div class="local-msg">
	     @if($logout)
           <div class="np-panel np-pale-blue np-leftbar np-border-blue" role="alert">#session_closed_success#</div>
	     @endif
	   </div>
	    
		<div class="np-col m6 np-padding">
           <input class="np-input" name="email" placeholder="#name#" type="text" required>
		</div>
		<div class="np-col m6 np-padding">
          <input class="np-input" name="email" placeholder="#surname#" type="text" required>
		</div>
		<div class="np-col m12 np-padding">
         <input class="np-input" name="email" placeholder="#email#" type="email" required>
        </div>
        <div class="np-col m6 np-padding">
           <input class="np-input" name="password" placeholder="#password#" type="password" required>
		</div>
		<div class="np-col m6 np-padding">
           <input class="np-input" name="password2" placeholder="#confirm_password#" type="password" required>
		</div>
		
		<div class="np-col m12 np-padding">
		<input type="checkbox" name="remember" value="remember-me">
        <label for="conect-me">#i_accept_the_terms#</label>
		<button class="np-btn np-border np-margin-top np-hover-green np-border-green np-round np-block">#register#</button>
		 </div>
		  
		  
		  
		   <div class="np-center">
			  <a href="{{url('login')}}" class="np-button np-text-green np-hover-white">#to_login_page#</a>
          </div>
		  </div>
    </form>   
<script>
$(function(){

  $("#login").submit(function(){
     var vars = $(this).serialize();
	 var msg = $(".local-msg");
     
     $.ajax({
     url : "{{url('login')}}",
     type : 'post',
     data : vars,
     beforeSend : function(){
	 
           $('.np-progress-form').show();
     },
	 success : function(data){
	      if(data == 'success'){
		     window.location.href = "{{url('applications')}}";
		  }else{
		    if(data == 'user_not_found'){
			
			  msg.html('<div class="np-panel np-pale-red np-leftbar np-border-red">#user_not_found#</div>');
		         
			}else if(data == 'invalid_email'){
			
			   msg.html('<div class="np-panel np-pale-red np-leftbar np-border-red">#invalid_email#</div>');
		           
			}else if(data == 'invalid_password'){
			   msg.html('<div class="np-panel np-pale-red np-leftbar np-border-red">#invalid_password#</div>');
			}else{
			msg.html('<div class="np-panel np-pale-red np-leftbar np-border-red">#server.error#</div>');
			}
		  }
		  
		  $('.np-progress-form').hide();
     }
    }); 
  
     return false;
  });

});
</script>
</body>
</html>