<!DOCTYPE html>
<html>
<title>{{NP_NAME}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{asset('np-ui/np-ui.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Header -->
<div class="np-container np-content np-padding np-card np-animate-top" style="min-height:700px">
  <div class="np-center">
  <h2 class="np-animate-bottom"><img style="position:relative;top:15px" class="mb-4" src="{{asset('img/russel-logo-text-v2.png')}}" alt="" width="270" height="90"></h1>
    <div class="np-padding-32">
      <h1>Seja bem vindo ao ambiente integrado de informações da Russel Serviços.</div>
	  <a class="np-btn np-round np-card" href="{{url('login')}}">Iniciar sessão</a>
    </h2>
  </div>
</div>


</body>
</html>